
/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

}

/* Variables */
:root {
    --blueprint: 2px solid rgb(14, 28, 44);
    --wireframe: 2px solid rgb(161, 13, 13); 
    --fntpoppin: "Poppins", sans-serif;
}

/* Global Layout Properties */
header,section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;

    font-family: var(--fntpoppin);
    
}



/* Libraries */
.majormono {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}
.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Title Properties  */
h1, /* Header - Headomg */
h2, /* About Me - Heading */
h3 /* Experience - Heading */
{ 
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.10rem;
    letter-spacing: 0.15rem;
    padding-bottom: 1rem;
}
h4 { /* Article Job Title - Heading */
    font-size: 0.8rem;
    padding-bottom: 0.25rem;
}
h5 {/* Article Company Title - Heading */
    font-size: 0.45rem;
    text-decoration: underline;
    font-weight: lighter;
    padding-bottom: 0.25rem;
}
h6 {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.105em;
}

/* 

    Header Properties

    Containers a div element & a navigation component.
    Briefly explains to the users what type of website they are viewing.

*/
header {
    text-align: center;

    /* mobile padding */
    padding: 0 3rem;

    /* media query for laptop/desktop devices */
    @media screen and (min-width: 999px ) {
        padding: 0 6rem;
    }

    

}
header p {
    font-size: 0.75rem;

    /* media query for laptop/desktop devices */
    @media screen and (min-width: 999px ) {
        font-size: 1.15rem;
        letter-spacing: 0.25rem;
        margin: 0 5rem;
    }

}
/* 

    Navigation Properties

    Contains a list & items child element for grid/flex layouts.
    Fixed position navigation bar on all devices including mobile, tablet, laptop & desktop.
    Simply interaction buttons for users - homepage, dark & light mode, contact page.
    
*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #FFF;
}
nav .list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1rem;
}
nav .list .items {
    padding: 0 3rem;
}

/* Section Structure */
section {

    text-align: center;

    /* mobile padding */
    padding: 0 3rem;

    /* media query for laptop/desktop devices */
    @media screen and (min-width: 999px ) {
        margin: 0 6rem;    
    }
    
}
section p {

    font-size: 0.75rem;
    line-height: 1.8;

    /* border: var(--wireframe); */

    
    /* media query for laptop/desktop devices */
    @media screen and (min-width: 999px ) {
        font-size: 1.15rem;
        letter-spacing: 0.25rem;
    }

}
section a {
    font-size: 0.75rem;
    color: #000;
    
}
section .list {
    /* border: 0.01rem solid #000; */
    /* border-radius: 8px; */

    padding: 1rem;

    min-height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-bottom: 3rem;

    font-family: var(--fntpoppin);
    

    
}
section .items {
    margin: 1rem;


    /* dev border */
    /* border: var(--blueprint); */
}

/* 

    Global Section Properties

*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 60vh;
}

/* 
    Global Article Properties

    Contains a title elements and a list & items child element for grid/flex layout.
    Title elements made up of h4,h5 & a text element for the to/from dates.
    Items element contains a text description of duties.

*/
article {
    padding: 1rem;
    text-align: left;
}
article p {
    font-size: 0.5rem;
    line-height: 1.3;
    
}
article .meta {
    font-weight: bold;
    margin-bottom: 2rem;
}


/* 

    Global Footer Properties

    
    
*/
footer { 

    font-family: var(--fntpoppin);

    min-height: 10vh;
    text-align: center;

    /* media query for laptop/desktop devices */
    @media screen and (min-width: 999px ) {

        font-size: 0.75rem;
        display: flex;
        justify-content: space-between;

    }
}
footer .container {
    min-height: 20vh;

    flex-direction: column-reverse;
    justify-content: space-around;
    
    /* media query for laptop/desktop devices */
    @media screen and (min-width: 999px ) {
        min-height: 10vh;
    }
}
footer .container:nth-child(2) {
    
    min-height: 5vh;

    /* media query for laptop/desktop devices */
    @media screen and (min-width: 999px ) {
        min-height: 10vh;
    }
}
footer p {
    font-size: 0.75rem;

    /* media query for laptop/desktop devices */
    @media screen and (min-width: 999px ) {
        /* font-size: 1.15rem; */
        letter-spacing: 0.25rem;
        margin: 0 5rem;
    }
}
/* 
    Specific Section Properties

    1. Home
    2. Intro
    3. Exp
    4. Cont
    5. Foot

*/
#introduction .container {
    justify-content: space-around;
}
#contact .list {
    list-style-type: none;
}



  

